/**
 * @name VueJS Cookie Notice Component
 * @description cookie stylesheet
 * @author Steven Morrison <https://github.com/Zaffri/>
 */

.welcome-cookie-wrapper {
    position: relative;
}

#welcome-cookie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 45px;
    font-size: 0.90em;
}

#close-button {
    padding-top:10px;
    display: inline-block;
    text-decoration: underline;
}

#close-button:hover {
    cursor: pointer;
}