/**
 * @name VueJS Cookie Notice Component
 * @description cookie stylesheet
 * @author Steven Morrison <https://github.com/Zaffri/>
 */

.welcome-cookie-wrapper {
    position: relative;
}

#welcome-cookie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    font-size: 0.90em;
}